*.DS_Store*

*~
*.log
*.idea
frontend/.hubot_history
frontend/.editorconfig
frontend/.babelrc
frontend/.npmrc
frontend/data/*

*.py[cod]
*__pycache__
*.ipynb_checkpoints
*.vscode

*.zip
*.txt
*.docx
*.DOCX


backend/dump/

bbg/
*.pk
*.bat

frontend/node_modules/

frontend/.npmrc

*/package-lock.json
